*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	border: .5px solid black;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	background-color: aquamarine;
    color: black;
	text-decoration: none;
}

div {
    background-color: black;
    width: 10rem;
    height: 5rem;
    padding: 1.5rem;
    font-size: 1rem;
    margin: 1rem;
}
#one {
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#one:hover {
    width: 5rem;
    background-color: aquamarine;
    text-decoration: underline;
}

#two {
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#two:hover {
    width: 5rem;
    background-color: aquamarine;
    text-decoration: underline;
}

#three {
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#three:hover {
    width: 5rem;
    background-color: aquamarine;
    text-decoration: underline;
}

#four {
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#four:hover {
    width: 5rem;
    background-color: aquamarine;
    text-decoration: underline;
}

@media screen and (min-width: 769px) {
  nav ul  {
	flex-direction: row;
  }
}