*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	border: 1px solid white;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	background-color: lightcoral;
    color: white;
	text-decoration: none;
}

#one {
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#one:hover {
    width: 5rem;
    background-color: lightcoral;
    text-decoration: underline;
}

#two {
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#two:hover {
    width: 5rem;
    background-color: lightcoral;
    text-decoration: underline;
}

#three {
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#three:hover {
    width: 5rem;
    background-color: lightcoral;
    text-decoration: underline;
}

#four {
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
}

#four:hover {
    width: 5rem;
    background-color: lightcoral;
    text-decoration: underline;
}

@media screen and (min-width: 769px) {
  nav ul  {
	flex-direction: row;
  }
}